.nav-content {
    padding-left: 5%;
    padding-right: 5%;
}

.nav-item {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
}

.post-nav-items {
    margin-left: 2%;
}

.Navbar {
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.1);
}
