.notif-dropdown {
    width: 30rem;
    text-align: center;
    max-height: 500px;
    overflow: auto;
    overflow-y: scroll
}

.type-groups {
    display: flex;
    justify-content: space-evenly;
}

#order-notifs, #account-notifs {
    display: none;
}
