.notif-dropdown {
    width: 30rem;
    text-align: center;
    max-height: 500px;
    overflow: auto;
    overflow-y: scroll
}

.notifications-heading {
    width: 30rem;
    margin-top: 0;
    padding-left: 2rem;
    position: top;
    background: white;
    box-shadow: 0 8px 4px -4px rgba(0,0,0,.1);
}

.notif {
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

}
