.menu {
    position: absolute;
    top: 5px;
    right: 5px;

}

.menu a {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

.card-user-name {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 30%;
}
