.OffersPage > h1, .OffersPage > input {
    margin-bottom: 50px;
}

.OffersPage > input {
    width: 50%;
}

.min-label {
    font-size: large;
}

.offers-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
