
/* Style the form container */
.form-container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(187, 184, 184);
  }
 
 /* Style form labels */
  .input-field label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  /* Style form input fields */
  .input-field input[type="text"],
  .input-field input[type="password"] {
    width: 80%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Style the login button */
  .login-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  